/* --------------------------------------------------------------

   YAGS (Yet Another Grid System)
    * Version:         0.0.1 (2009-03-30) YYYY-MM-DD
    * Website:         http://github.com/henryhamon/yags/
    * Author: 				 Henry Hamon (www.hamonrails.com.br)

   Based on:
    * BlueprintCSS
    * 960gs

   == STRUCTURE: ========================
    * Page width:            990 px
    * Number of columns:     25
    * Column width:          30 px
    * Margin width:          10 px
   ======================================

-------------------------------------------------------------- */

/* A container should group all your columns. */
.container {
  width: 990px;
  margin: 0 auto;
}

/* Use this class on any div.span / container to see the grid. */
.showgrid {
  background: url(asset/grid.png);
}

/* Body margin for a sensile default look. */
body {
  margin:1.5em 0;
}


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
div.col_1, div.col_2, div.col_3, div.col_4, div.col_5, div.col_6, div.col_7, div.col_8, div.col_9, div.col_10, div.col_11, div.col_12, div.col_13, div.col_14, div.col_15, div.col_16, div.col_17, div.col_18, div.col_19, div.col_20, div.col_21, div.col_22, div.col_23, div.col_24, div.col_25 {float:left;margin-right: 10px;}

/* Children (Alpha ~ First, Omega ~ Last) */
.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Use these classes to set the width of a column. */
.col_1  { width: 30px;}
.col_2  { width: 70px;}
.col_3  { width: 110px;}
.col_4  { width: 150px;}
.col_5  { width: 190px;}
.col_6  { width: 230px;}
.col_7  { width: 270px;}
.col_8  { width: 310px;}
.col_9  { width: 350px;}
.col_10 { width: 390px;}
.col_11 { width: 430px;}
.col_12 { width: 470px;}
.col_13 { width: 510px;}
.col_14 { width: 550px;}
.col_15 { width: 590px;}
.col_16 { width: 630px;}
.col_17 { width: 670px;}
.col_18 { width: 710px;}
.col_19 { width: 750px;}
.col_20 { width: 790px;}
.col_21 { width: 830px;}
.col_22 { width: 870px;}
.col_23 { width: 910px;}
.col_24 { width: 950px;}
.col_25, div.col_25 { width: 990px; margin: 0; }


/* Add these to a column to append empty cols. */
.suffix_quarter { padding-right: 10px;}
.suffix_half    { padding-right: 20px;}
.suffix_1  { padding-right: 40px;}
.suffix_2  { padding-right: 80px;}
.suffix_3  { padding-right: 120px;}
.suffix_4  { padding-right: 160px;}
.suffix_5  { padding-right: 200px;}
.suffix_6  { padding-right: 240px;}
.suffix_7  { padding-right: 280px;}
.suffix_8  { padding-right: 320px;}
.suffix_9  { padding-right: 360px;}
.suffix_10 { padding-right: 400px;}
.suffix_11 { padding-right: 440px;}
.suffix_12 { padding-right: 480px;}
.suffix_13 { padding-right: 520px;}
.suffix_14 { padding-right: 560px;}
.suffix_15 { padding-right: 600px;}
.suffix_16 { padding-right: 640px;}
.suffix_17 { padding-right: 680px;}
.suffix_18 { padding-right: 720px;}
.suffix_19 { padding-right: 760px;}
.suffix_20 { padding-right: 800px;}
.suffix_21 { padding-right: 840px;}
.suffix_22 { padding-right: 880px;}
.suffix_23 { padding-right: 920px;}
.suffix_24 { padding-right: 960px;}


/* Add these to a column to prepend empty cols. */
.prefix_quarter { padding-left: 10px;}
.prefix_half    { padding-left: 20px;}
.prefix_1  { padding-left: 40px;}
.prefix_2  { padding-left: 80px;}
.prefix_3  { padding-left: 120px;}
.prefix_4  { padding-left: 160px;}
.prefix_5  { padding-left: 200px;}
.prefix_6  { padding-left: 240px;}
.prefix_7  { padding-left: 280px;}
.prefix_8  { padding-left: 320px;}
.prefix_9  { padding-left: 360px;}
.prefix_10 { padding-left: 400px;}
.prefix_11 { padding-left: 440px;}
.prefix_12 { padding-left: 480px;}
.prefix_13 { padding-left: 520px;}
.prefix_14 { padding-left: 560px;}
.prefix_15 { padding-left: 600px;}
.prefix_16 { padding-left: 640px;}
.prefix_17 { padding-left: 680px;}
.prefix_18 { padding-left: 720px;}
.prefix_19 { padding-left: 760px;}
.prefix_20 { padding-left: 800px;}
.prefix_21 { padding-left: 840px;}
.prefix_22 { padding-left: 880px;}
.prefix_23 { padding-left: 920px;}
.prefix_24 { padding-left: 960px;}



/* Border on right hand side of a column. */
div.border {
  padding-right:4px;
  margin-right:5px;
  border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column. */
div.colborder {
  padding-right:28px;
  margin-right:25px;
  border-right: 1px solid #eee;
}

/* Use these classes on an element to pushup it into the next row, or to pulldown it into the previous row.  */
.pulldown_1 { margin-top: 1.5em; }
.pulldown_2 { margin-top: 3em; }
.pulldown_3 { margin-top: 4.5em; }
.pulldown_4 { margin-top: 6em; }
.pulldown_5 { margin-top: 7.5em; }
.pulldown_6 { margin-top: 9em; }
.pulldown_7 { margin-top: 10.5em; }
.pulldown_8 { margin-top: 12em; }
.pulldown_9 { margin-top: 13.5em; }
.pulldown_10 { margin-top: 15em; }

.pushup_1 { margin-bottom: 1.5em; }
.pushup_2 { margin-bottom: 3.0em; }
.pushup_3 { margin-bottom: 4.5em; }
.pushup_4 { margin-bottom: 6.0em; }
.pushup_5 { margin-bottom: 7.5em; }
.pushup_6 { margin-bottom: 9.0em; }
.pushup_7 { margin-bottom: 10.5em; }
.pushup_8 { margin-bottom: 12.0em; }
.pushup_9 { margin-bottom: 13.5em; }
.pushup_10 { margin-bottom: 15.0em; }

.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }

/* Misc classes and elements
-------------------------------------------------------------- */

/* Use a .box to create a padded box inside a column.  */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background:#DBDAE0;
  border:1px solid #D2D1D6;
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
}
hr.space {
  background: #fff;
  color: #fff;
}

/*Clear Floated Elements*/
.clearfix:after, .container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix, .container {display: inline-block;}
* html .clearfix,
* html .container {height: 1%;}
.clearfix, .container {display: block;}

/* Regular clearing apply to column that should drop below previous ones. */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

