/* -------------------------------------------------------------- 
   
   YAGS (Yet Another Grid System)
    * Version:         0.0.1 (2009-03-30) YYYY-MM-DD
    * Website:         http://github.com/henryhamon/yags/
    * Author: 				 Henry Hamon (www.hamonrails.com.br)

   Based on:
    * BlueprintCSS
    * 960gs
    
   == STRUCTURE: ========================
    * Page width:            990 px
    * Number of columns:     25
    * Column width:          30 px
    * Margin width:          10 px
   ======================================

   
-------------------------------------------------------------- */

/* A container should group all your columns. */
.container {
  width: 990px;
  margin: 0 auto;
}

/* Use this class on any div.span / container to see the grid. */
.showgrid { 
  background: url(asset/grid.png); 
}

/* Body margin for a sensile default look. */
body {
  margin:1.5em 0;	
}


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
div.col_1, div.col_2, div.col_3, div.col_4, div.col_5, div.col_6, div.col_7, div.col_8, div.col_9, div.col_10, div.col_11, div.col_12, div.col_13, div.col_14, div.col_15, div.col_16, div.col_17, div.col_18, div.col_19, div.col_20, div.col_21, div.col_22, div.col_23, div.col_24, div.col_25 {float:left;margin-right: 10px;}

/* Children (Alpha ~ First, Omega ~ Last) */
.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Use these classes to set the width of a column. */
.col_1  { width: 30px;}
.col_2  { width: 70px;}
.col_3  { width: 110px;}
.col_4  { width: 150px;}
.col_5  { width: 190px;}
.col_6  { width: 230px;}
.col_7  { width: 270px;}
.col_8  { width: 310px;}
.col_9  { width: 350px;}
.col_10 { width: 390px;}
.col_11 { width: 430px;}
.col_12 { width: 470px;}
.col_13 { width: 510px;}
.col_14 { width: 550px;}
.col_15 { width: 590px;}
.col_16 { width: 630px;}
.col_17 { width: 670px;}
.col_18 { width: 710px;}
.col_19 { width: 750px;}
.col_20 { width: 790px;}
.col_21 { width: 830px;}
.col_22 { width: 870px;}
.col_23 { width: 910px;}
.col_24 { width: 950px;}
.col_25, div.col_25 { width: 990px; margin: 0; }


/* Add these to a column to append empty cols. */
.suffix_1  { padding-right: 40px;}
.suffix_2  { padding-right: 80px;}
.suffix_3  { padding-right: 120px;}
.suffix_4  { padding-right: 160px;}
.suffix_5  { padding-right: 200px;}
.suffix_6  { padding-right: 240px;}
.suffix_7  { padding-right: 280px;}
.suffix_8  { padding-right: 320px;}
.suffix_9  { padding-right: 360px;}
.suffix_10 { padding-right: 400px;}
.suffix_11 { padding-right: 440px;}
.suffix_12 { padding-right: 480px;}
.suffix_13 { padding-right: 520px;}
.suffix_14 { padding-right: 560px;}
.suffix_15 { padding-right: 600px;}
.suffix_16 { padding-right: 640px;}
.suffix_17 { padding-right: 680px;}
.suffix_18 { padding-right: 720px;}
.suffix_19 { padding-right: 760px;}
.suffix_20 { padding-right: 800px;}
.suffix_21 { padding-right: 840px;}
.suffix_22 { padding-right: 880px;}
.suffix_23 { padding-right: 920px;}
.suffix_24 { padding-right: 960px;}


/* Add these to a column to prepend empty cols. */
.prefix_1  { padding-left: 40px;}
.prefix_2  { padding-left: 80px;}
.prefix_3  { padding-left: 120px;}
.prefix_4  { padding-left: 160px;}
.prefix_5  { padding-left: 200px;}
.prefix_6  { padding-left: 240px;}
.prefix_7  { padding-left: 280px;}
.prefix_8  { padding-left: 320px;}
.prefix_9  { padding-left: 360px;}
.prefix_10 { padding-left: 400px;}
.prefix_11 { padding-left: 440px;}
.prefix_12 { padding-left: 480px;}
.prefix_13 { padding-left: 520px;}
.prefix_14 { padding-left: 560px;}
.prefix_15 { padding-left: 600px;}
.prefix_16 { padding-left: 640px;}
.prefix_17 { padding-left: 680px;}
.prefix_18 { padding-left: 720px;}
.prefix_19 { padding-left: 760px;}
.prefix_20 { padding-left: 800px;}
.prefix_21 { padding-left: 840px;}
.prefix_22 { padding-left: 880px;}
.prefix_23 { padding-left: 920px;}
.prefix_24 { padding-left: 960px;}



/* Border on right hand side of a column. */
div.border {
  padding-right:4px;
  margin-right:5px;
  border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column. */
div.colborder {
  padding-right:28px;
  margin-right:25px;
  border-right: 1px solid #eee;
}

/* Use these classes on an element to push it into the 
   next column, or to pull it into the previous column.  */

.pull_1 { margin-left: -40px;}
.pull_2 { margin-left: -80px;}
.pull_3 { margin-left: -120px;}
.pull_4 { margin-left: -160px;}
.pull_5 { margin-left: -200px;}
.pull_6 { margin-left: -240px;}
.pull_7 { margin-left: -280px;}
.pull_8 { margin-left: -320px;}
.pull_9 { margin-left: -360px;}
.pull_10 { margin-left: -400px;}
.pull_11 { margin-left: -440px;}
.pull_12 { margin-left: -480px;}
.pull_13 { margin-left: -520px;}
.pull_14 { margin-left: -560px;}
.pull_15 { margin-left: -600px;}
.pull_16 { margin-left: -640px;}
.pull_17 { margin-left: -680px;}
.pull_18 { margin-left: -720px;}
.pull_19 { margin-left: -760px;}
.pull_20 { margin-left: -800px;}
.pull_21 { margin-left: -840px;}
.pull_22 { margin-left: -880px;}
.pull_23 { margin-left: -920px;}
.pull_24 { margin-left: -960px;}
.pull_25 { margin-left: -1000px;}

.pull_1, .pull_2, .pull_3, .pull_4, .pull_5, .pull_6, .pull_7, .pull_8, .pull_9, .pull_10, .pull_11, .pull_12, .pull_13, .pull_14, .pull_15, .pull_16, .pull_17, .pull_18, .pull_19, .pull_20, .pull_21, .pull_22, .pull_23, .pull_24, .pull_25 {float:left;position:relative;}


.push-1 { margin: 0 -40px 1.5em 40px;}
.push-2 { margin: 0 -80px 1.5em 80px;}
.push-3 { margin: 0 -120px 1.5em 120px;}
.push-4 { margin: 0 -160px 1.5em 160px;}
.push-5 { margin: 0 -200px 1.5em 200px;}
.push-6 { margin: 0 -240px 1.5em 240px;}
.push-7 { margin: 0 -280px 1.5em 280px;}
.push-8 { margin: 0 -320px 1.5em 320px;}
.push-9 { margin: 0 -360px 1.5em 360px;}
.push-10 { margin: 0 -400px 1.5em 400px;}
.push-11 { margin: 0 -440px 1.5em 440px;}
.push-12 { margin: 0 -480px 1.5em 480px;}
.push-13 { margin: 0 -520px 1.5em 520px;}
.push-14 { margin: 0 -560px 1.5em 560px;}
.push-15 { margin: 0 -600px 1.5em 600px;}
.push-16 { margin: 0 -640px 1.5em 640px;}
.push-17 { margin: 0 -680px 1.5em 680px;}
.push-18 { margin: 0 -720px 1.5em 720px;}
.push-19 { margin: 0 -760px 1.5em 760px;}
.push-20 { margin: 0 -800px 1.5em 800px;}
.push-21 { margin: 0 -840px 1.5em 840px;}
.push-22 { margin: 0 -880px 1.5em 880px;}
.push-23 { margin: 0 -920px 1.5em 920px;}
.push-24 { margin: 0 -960px 1.5em 960px;}
.push-25 { margin: 0 -1000px 1.5em 1000px;}

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24, .push-25 {float:right;position:relative;}



/* Misc classes and elements
-------------------------------------------------------------- */

/* Use a .box to create a padded box inside a column.  */ 
.box { 
  padding: 1.5em; 
  margin-bottom: 1.5em; 
  background: #E5ECF9; 
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd; 
  color: #ddd;
  clear: both; 
  float: none; 
  width: 100%; 
  height: .1em;
  margin: 0 0 1.45em;
  border: none; 
}
hr.space {
  background: #fff;
  color: #fff;
}

/* Clear */

.clearfix:after, .container:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix, .container {display: inline-block;}
* html .clearfix,
* html .container {height: 1%;}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }

