<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <!-- Yags Framework -->
  	<link href="stylesheets/yags/yags_full.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <!-- your site style -->
  <link href="stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <!-- Javascripts -->

	<title></title>
</head>

<body>
	<div class="container showgrid">
	</div>

</body>

</html>
